@media screen and (max-width: 770px) {

  .content{
    width: 480px;

  }

  header{

    ul{

      li {

        margin: 0 15px 0 0;
      }

    }
  }

  .main-content {

    .about-page{

      .article-wrap{

        .content{

          .about-block-content{


            width: 400px;
            top:400px;
            right: 20px;
            padding: 5px 20px;

            p {

              font-size: 17px;
              line-height: 22px;
            }



          }
        }



      }
    }


    .portfolio-page{



      .article-wrap{


        .portfolio-menu{

          ul{

            li {

              margin: 0 0 0 33px;
              font-size: 16px;

            }

          }

        }

        .portfolio-images{

          height: 545px;


          >div{
            width: 33%;
            height: 33%;
            float: left;

            &:first-child{
              height: 50%;
            }
          }





        }




      }

    }


    .contact-page{



      .contact-content{




        .content{
          @include clear();
          padding: 95px 0 0 0;

          >div{
            float: none;
            width: 100%;
          }

          .contact-left-block{




            .contact-form{

              input,select,textarea{


                width: 90%;


              }

              input,select{
                height: 90px;
              }




            }


          }

          .contact-right-block{

            background: #ffe240;
            padding: 37px 0 10px 110px;
            background: #ffe240;
            margin: 50px 0 0 0;

            .contact-info-blocks{

              p {

                font-size: 20px;
                line-height: 28px;
              }

            }


          }
        }



      }


    }



  }


}